<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
    <title>iBiu</title>
    <link rel="stylesheet" href="../assets/css/iview.css">
    <link rel="stylesheet" href="../assets/css/app.css">
</head>

<body>
    <div id="app" v-cloak>
        <!-- <div class="title" v-show="status === 'options'">新建项目</div>
        <div class="title" v-show="status === 'log' && titleStatus === 1">
            iBiu - 创建中
            <Icon type="load-c" class="ivu-load-loop"></Icon>
        </div>
        <div class="title" v-show="status === 'log' && titleStatus === 2">
            iBiu - 创建完成
            <Icon type="ios-checkmark-outline" color="#00cc66"></Icon>
        </div>
        <div class="title" v-show="status === 'log' && titleStatus === 3">
            iBiu - 创建失败
            <Icon type="ios-close-outline"  color="#ff5500"></Icon>
        </div>
        <div class="title" v-show="status === 'next'">iBiu - 进一步配置</div> -->

        <div class="title" v-show="status === 'options'"> New Project </div>
            <div class="title" v-show="status === 'log' && titleStatus === 1">
                iBiu - created
                <Icon type="load-c" class="ivu-load-loop"> </Icon>
            </div>
            <div class="title" v-show="status === 'log' && titleStatus === 2">
                iBiu - Create completed
                <Icon type="ios-checkmark-outline" color="#00cc66"> </Icon>
            </div>
            <div class="title" v-show="status === 'log' && titleStatus === 3">
                iBiu - Creation failed
                <Icon type="ios-close-outline" color="#ff5500"> </Icon>
            </div>
            <div class="title" v-show="status === 'next'"> iBiu - Further Configuration </div>

            <div class="create-app">
                <div class="create-form" v-show="status==='options'">
                    <i-form ref="formValidate" :model="formValidate" :rules="ruleValidate" :label-width="130">

                        <Form-item label="Components library:" prop="ui">

                            <Radio-group v-model="formValidate.ui">

                                <Radio label="iview"> iView </Radio>

                                <Radio label="elementUI"> elementUI </Radio>

                                <Radio label="none"> Nothing </Radio>
                            </Radio-group>

                        </Form-item>

                        <!-- TODO: 添加 导航 -->
                        <!-- <Form-item label="Do you need navigation?">                 
                            <i-switch v-model="formValidate.navNeed" :disabled="true">
                            </i-switch>
                        </Form-item> -->

                        <Form-item label="Page routing structure:" v-if="formValidate.navNeed">

                            <div slot="label">

                                <span> Router structure </span>

                                <span @click="handleOpenLink('https://github.com/bobiscool/iBiu')">

                                    <Icon type="ios-help" size="14" color="#3399ff">
                                    </Icon>
                                </span>

                                <span>: </span>
                            </div>

                            <div class="nav">

                                <textarea name="textarea" rows="10" cols="35" v-model="formValidate.nav" style="border:1px solid #39f; line-height: 20px;">
                                </textarea>
                            </div>
                        </Form-item>

                        <!-- TODO: 添加 登录 -->




                        <Form-item label="CSS preprocessing:" prop="css">
                            <Checkbox-group v-model="formValidate.css">
                                <Checkbox label="less"></Checkbox>
                                <Checkbox label="sass"></Checkbox>
                            </Checkbox-group>
                        </Form-item>
                        <Form-item label="Ajax：" prop="ajax">
                            <div slot="label">
                                <span>Axios</span>
                                <Tooltip content="Base on axios">
                                    <Icon type="ios-help" size="14" color="#3399ff"></Icon>
                                </Tooltip>
                                <span>：</span>
                            </div>
                            <i-switch v-model="formValidate.ajax">
                                <Icon type="android-done" slot="open"></Icon>
                                <Icon type="android-close" slot="close"></Icon>
                            </i-switch>
                        </Form-item>

                        <Form-item label="Status Management:" prop="store">
                            <Checkbox-group v-model="formValidate.store">
                                <Checkbox label="vuex"></Checkbox>
                                <Checkbox label="bus.js"></Checkbox>
                            </Checkbox-group>
                        </Form-item>
                        <Form-item label="Charts " prop="chart">
                            <Checkbox-group v-model="formValidate.chart">
                                <Checkbox label="echarts"></Checkbox>
                            </Checkbox-group>
                        </Form-item>
                        <Form-item label="Additional features:" prop="funs">
                            <Checkbox-group v-model="formValidate.funs">
                                <Checkbox label="cookies">Cookie（js-cookie）</Checkbox>
                                <Checkbox label="clipboard">Copy（clipboard）</Checkbox>
                                <Checkbox label="html2canvas">html2canvas</Checkbox>
                                <Checkbox label="rasterizehtml">rasterizeHTML</Checkbox>
                            </Checkbox-group>
                        </Form-item>
                        <a href="javascript:void(0)" class="create-app-more" v-if="!showMore" @click="handleShowMore">
                            <span>Show more configuration</span>
                            <Icon type="ios-arrow-down"></Icon>
                        </a>
                        <div class="create-app-more-item" v-if="showMore">
                            <Form-item label="Project name" prop="name">
                                <i-input v-model="formValidate.name" placeholder="Please enter the project name, must be in English with no spaces"></i-input>
                            </Form-item>
                            <Form-item label="Version" prop="version">
                                <i-input v-model="formValidate.version" placeholder="Please enter the version number"></i-input>
                            </Form-item>
                            <Form-item label="Project description" prop="desc">
                                <i-input type="textarea" v-model="formValidate.desc" placeholder="Please enter the project description ..."></i-input>
                            </Form-item>
                            <Form-item label="Git" prop="git">
                                <i-input v-model="formValidate.git" placeholder="Plase enter the git address"></i-input>
                            </Form-item>
                        </div>
                    </i-form>
                    <Row class="create-app-submit">
                        <i-col span="9" offset="2">
                            <i-button type="primary" long @click="handleSubmit('formValidate')">Create</i-button>
                        </i-col>
                        <i-col span="9" offset="2">
                            <i-button type="ghost" long @click="handleReset('formValidate')" style="margin-left: 8px">Reset</i-button>
                        </i-col>
                    </Row>
                </div>
                <div class="create-info" v-show="status=='log'">
                    <!-- <log :status="log.package" content="创建 package.json"></log>
                    <log :status="log.babel" content="创建 .babelrc"></log>
                    <log :status="log.builds" content="创建 webpack 配置文件"></log>

                    <log :status="2" content="创建 路由配置文件 router.js "></log>
                    <log :status="2" content="创建 路由对应的页面文件 "></log>
                    <log :status="log.login" content="创建 登录页面"></log>
                    <log :status="log.css" content="初始化 样式文件"></log>
                    <log :status="log.notFound" content="创建 404页面"></log>

                    <log :status="log.app" content="创建 路由挂载根组件 app.vue"></log>
                    <log :status="log.indexHtml" content="创建 挂载页面index.html"></log>
                    <log :status="log.main" content="创建入口文件 main.js"></log>
                    <log :status="log.bus" content="创建中央事件总线文件 bus.js" v-if="formValidate.store.indexOf('bus.js') > -1"></log>
                    <log :status="log.gitignore" content="创建 .gitignore"></log>
                    <log :status="log.editorconfig" content="创建 .editorconfig"></log> -->


                    <log :status="log.package" content="Create package.json"> </log>
                    <log :status="log.babel" content="Create .babelrc"> </log>
                    <log :status="log.builds" content="Create webpack profile"> </log>

                    <log :status="2" content="Create routing profile router.js"> </log>
                    <log :status="2" content="Create a routing-oriented page file"> </log>
                    <log :status="log.login" content="Create Login Page"> </log>
                    <log :status="log.css" content="Initialize Style Files"> </log>
                    <log :status="log.notFound" content="Create 404 Page"> </log>
                    <log :status="log.app" content="Create a route mount root component app.vue"> </log>
                    <log :status="log.indexHtml" content="create mount page index.html"> </log>
                    <log :status="log.main" content="Create entry file main.js"> </log>
                    <log :status="log.bus" content="Create a central event bus file bus.js" v-if="formValidate.store.indexOf ('bus.js')> -1">
                    </log>
                    <log :status="log.gitignore" content="Create .gitignore"> </log>
                    <log :status="log.editorconfig" content="Create .editorconfig"> </log>

                    <Row class="create-app-submit create-info-submit">
                        <i-col span="9" offset="2">
                            <i-button type="success" long @click="handleNext" icon="ios-information">Further configuration</i-button>
                        </i-col>
                        <i-col span="9" offset="2">
                            <i-button type="ghost" long @click="handleOpenDirectory" style="margin-left: 8px" icon="folder">Open directory</i-button>
                        </i-col>
                    </Row>
                </div>
                <div class="create-next" v-show="status === 'next'">
                    <Alert show-icon>
                        <Icon type="ios-lightbulb-outline" slot="icon"></Icon>
                        <span slot="desc">
                            iBiu has all the configuration files saved in the specified
                            <a href="javascript:void(0)" @click="handleOpenDirectory">directory</a>, follow the procedure below to start the project.
                        </span>
                    </Alert>
                    <Alert> Please pre-install Node.js, npm, webpack globally. </Alert>
                    <h4>Installation Dependencies </h4>
                    <code>$ npm install</code>
                    <h4>Start Services (Development Environment) </h4>
                    <code>$ npm run dev</code>
                    <p>
                       After the service starts, open
                        <a href="javascript:void(0)" @click="handleOpenLink('http://localhost:8080')">http://localhost:8080</a> 访问网站
                    </p>
                    <p></p>
                    <h4>Compile and Package (Production Environment)</h4>
                    <code>$ npm run build</code>
                    <template v-if="formValidate.ajax">
                        <h4>Configure Routing</h4>
                        <p>iBiu has configured the routes for you based on your json, right there
                            <a href="javascript:void(0)" @click="handleOpenFile('src/router/index.js')">views/src/router</a> click on the file to modify the specific configuration.</p>
                    </template>
                    <h4>Custom Page</h4>
                    <p>Based on your configuration file, iBiu generates the relevant directories and associated pages and points the route to them
                        <a href="javascript:void(0)" @click="handleOpenFile('src/views/index.vue')">Click to view </a> Files</p>
                    <template v-if="formValidate.eslint">
                        <h4>ESLint</h4>
                        <p>Use ESLint to detect code compliance:</p>
                        <code>$ npm run lint</code>
                    </template>
                    <Row class="create-app-submit create-info-submit">
                        <i-col span="9" offset="2">
                            <i-button type="primary" long @click="handleBackHome" icon="ios-home">Back</i-button>
                        </i-col>
                        <i-col span="9" offset="2">
                            <i-button type="ghost" long @click="handleOpenDirectory" style="margin-left: 8px" icon="folder">Open Directory</i-button>
                        </i-col>
                    </Row>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="../assets/js/vue.min.js"></script>
        <script type="text/javascript" src="../assets/js/iview.min.js"></script>
        <script type="text/javascript" src="../src/create.js"></script>
</body>

</html>