<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
    <title>iBiu</title>
    <link rel="stylesheet" href="../assets/css/iview.css">
    <link rel="stylesheet" href="../assets/css/app.css">
</head>
<body>
    <div id="app" v-cloak>
        <div class="title" v-show="status === 'options'">新建项目</div>
        <div class="title" v-show="status === 'log' && titleStatus === 1">
            iBiu - 创建中
            <Icon type="load-c" class="ivu-load-loop"></Icon>
        </div>
        <div class="title" v-show="status === 'log' && titleStatus === 2">
            iBiu - 创建完成
            <Icon type="ios-checkmark-outline" color="#00cc66"></Icon>
        </div>
        <div class="title" v-show="status === 'log' && titleStatus === 3">
            iBiu - 创建失败
            <Icon type="ios-close-outline"  color="#ff5500"></Icon>
        </div>
        <div class="title" v-show="status === 'next'">iBiu - 进一步配置</div>
        <div class="create-app">
            <div class="create-form" v-show="status === 'options'">
                <i-form ref="formValidate" :model="formValidate" :rules="ruleValidate" :label-width="120">
                    <Form-item label="你要组件库吗：" prop="ui">
                        <Radio-group v-model="formValidate.ui">
                            <Radio label="iview">iView</Radio>
                            <Radio label="elementUI">elementUI</Radio>
                            <Radio label="none">裸奔！</Radio>
                        </Radio-group>

                        <!-- @TODO 这里需要改 添加elementUI ？ -->
                    </Form-item>

                    <!-- TODO: 添加 导航 -->
                    <Form-item label="是否需要导航">

                            <i-switch v-model="formValidate.navNeed" :disabled="true"></i-switch>
                    </Form-item>
                    <Form-item label="填写你的导航树：(请按示例格式填写)" v-if="formValidate.navNeed">

                        <div class="nav" >
                            <!--<textarea  ></textarea>-->
                            <textarea name="textarea"
                                      rows="10" cols="50" v-model="formValidate.nav"
                                      style="border: 1px solid #39f;line-height: 20px;"

                            ></textarea>

                        </div>
                        <!--<Input v-model="formValidate.nav" type="text"></Input>-->
                        <!--<textarea :value="formValidate.nav"></textarea>-->
                    </Form-item>
                    <!-- TODO: 添加 登录 -->

                    <Form-item label="CSS 预处理：" prop="css">
                        <Checkbox-group v-model="formValidate.css">
                            <Checkbox label="less"></Checkbox>
                            <Checkbox label="sass"></Checkbox>
                        </Checkbox-group>
                    </Form-item>
                    <Form-item label="Ajax：" prop="ajax">
                        <div slot="label">
                            <span>Axios</span>
                            <Tooltip content="基于 axios">
                                <Icon type="ios-help" size="14" color="#3399ff"></Icon>
                            </Tooltip>
                            <span>：</span>
                        </div>
                        <i-switch v-model="formValidate.ajax">
                            <Icon type="android-done" slot="open"></Icon>
                            <Icon type="android-close" slot="close"></Icon>
                        </i-switch>
                    </Form-item>

                    <Form-item label="状态管理：" prop="store">
                        <Checkbox-group v-model="formValidate.store">
                            <Checkbox label="vuex"></Checkbox>
                            <Checkbox label="bus.js"></Checkbox>
                        </Checkbox-group>
                    </Form-item>
                    <Form-item label="图表：" prop="chart">
                        <Checkbox-group v-model="formValidate.chart">
                            <Checkbox label="echarts"></Checkbox>
                        </Checkbox-group>
                    </Form-item>
                    <Form-item label="附加功能：" prop="funs">
                        <Checkbox-group v-model="formValidate.funs">
                            <Checkbox label="cookies">Cookie（js-cookie）</Checkbox>
                            <Checkbox label="clipboard">复制（clipboard）</Checkbox>
                            <Checkbox label="html2canvas">HTML 转图片（html2canvas）</Checkbox>
                            <Checkbox label="rasterizehtml">HTML 转图片（rasterizeHTML）</Checkbox>
                        </Checkbox-group>
                    </Form-item>
                    <a href="javascript:void(0)" class="create-app-more" v-if="!showMore" @click="handleShowMore">
                        <span>显示更多配置</span>
                        <Icon type="ios-arrow-down"></Icon>
                    </a>
                    <div class="create-app-more-item" v-if="showMore">
                        <Form-item label="项目名称：" prop="name">
                            <i-input v-model="formValidate.name" placeholder="请输入项目名，必须为英文且不带空格"></i-input>
                        </Form-item>
                        <Form-item label="版本号：" prop="version">
                            <i-input v-model="formValidate.version" placeholder="请输入版本号，例如 1.0.0"></i-input>
                        </Form-item>
                        <Form-item label="项目介绍：" prop="desc">
                            <i-input type="textarea" v-model="formValidate.desc" placeholder="请输入项目介绍..."></i-input>
                        </Form-item>
                        <Form-item label="Git 地址：" prop="git">
                            <i-input v-model="formValidate.git" placeholder="请输入项目所在仓库地址"></i-input>
                        </Form-item>
                    </div>
                </i-form>
                <Row class="create-app-submit">
                    <i-col span="9" offset="2">
                        <i-button type="primary" long @click="handleSubmit('formValidate')">创建工程</i-button>
                    </i-col>
                    <i-col span="9" offset="2">
                        <i-button type="ghost" long @click="handleReset('formValidate')" style="margin-left: 8px">重置</i-button>
                    </i-col>
                </Row>
            </div>
            <div class="create-info" v-show="status === 'log'">
                <log :status="log.package" content="创建 package.json"></log>
                <log :status="log.babel" content="创建 .babelrc"></log>
                <log :status="log.builds" content="创建 webpack 配置文件"></log>

                <log :status="2" content="创建 路由配置文件 router.js "></log>
                <log :status="2" content="创建 路由对应的页面文件 "></log>
                <log :status="log.login" content="创建 登录页面"></log>
                <log :status="log.css" content="初始化 样式文件"></log>
                <log :status="log.notFound" content="创建 404页面"></log>

                <log :status="log.app" content="创建 路由挂载根组件 app.vue"></log>
                <log :status="log.indexHtml" content="创建 挂载页面index.html"></log>
                <log :status="log.main" content="创建入口文件 main.js"></log>
                <log :status="log.bus" content="创建中央事件总线文件 bus.js" v-if="formValidate.store.indexOf('bus.js') > -1"></log>
                <log :status="log.gitignore" content="创建 .gitignore"></log>
                <log :status="log.editorconfig" content="创建 .editorconfig"></log>

                <Row class="create-app-submit create-info-submit">
                    <i-col span="9" offset="2">
                        <i-button type="success" long @click="handleNext" icon="ios-information" >进一步配置</i-button>
                    </i-col>
                    <i-col span="9" offset="2">
                        <i-button type="ghost" long @click="handleOpenDirectory" style="margin-left: 8px" icon="folder">打开目录</i-button>
                    </i-col>
                </Row>
            </div>
            <div class="create-next" v-show="status === 'next'">
                <Alert show-icon>
                    <Icon type="ios-lightbulb-outline" slot="icon"></Icon>
                    <span slot="desc">
                        iBiu已将所有配置文件保存在指定的<a href="javascript:void(0)" @click="handleOpenDirectory">目录</a>，按照下面的流程可以启动项目。
                    </span>
                </Alert>
                <Alert>请预先全局安装 Node.js、npm 、webpack。</Alert>
                <h4>安装依赖</h4>
                <code>$ npm install</code>
                <h4>启动服务（开发环境）</h4>
                <code>$ npm run dev</code>
                <p>
                    服务启动后，打开 <a href="javascript:void(0)" @click="handleOpenLink('http://127.0.0.1:8080')">http://localhost:8080</a> 访问网站
                </p>
                <p></p>
                <h4>编译打包（生产环境）</h4>
                <code>$ npm run build</code>
                <template v-if="formValidate.ajax">
                    <h4>配置 路由</h4>
                    <p>iBiu已经根据你的json给你配置好了路由，位置就在 <a href="javascript:void(0)" @click="handleOpenFile('src/libs/util.js')">views/src/router</a> 里，点击文件修改具体配置。</p>
                </template>
                <h4>自定义页面</h4>
                <p>iBiu根据你的配置文件,生成了相关目录以及相关页面,并将路由指向了它们<a href="javascript:void(0)" @click="handleOpenFile('src/template/index.ejs')">点击查看 </a> 文件</p>
                <template v-if="formValidate.eslint">
                    <h4>ESLint</h4>
                    <p>使用 ESLint 来检测代码是否符合规范：</p>
                    <code>$ npm run lint</code>
                </template>
                <Row class="create-app-submit create-info-submit">
                    <i-col span="9" offset="2">
                        <i-button type="primary" long @click="handleBackHome" icon="ios-home">返回首页</i-button>
                    </i-col>
                    <i-col span="9" offset="2">
                        <i-button type="ghost" long @click="handleOpenDirectory" style="margin-left: 8px" icon="folder">打开目录</i-button>
                    </i-col>
                </Row>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="../assets/js/vue.min.js"></script>
    <script type="text/javascript" src="../assets/js/iview.min.js"></script>
    <script type="text/javascript" src="../src/create.js"></script>
</body>
</html>
